body {
	background: #F7F9FC;
	color: #575F7D;
	font-family: 'Lora', serif;
	font-size: 17px;
}

h2, h3 {
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #575F7D;
	font-size: 36px;
	font-weight: 900;
	font-family: 'Galada', cursive;
}

h2 {
	color: #575F7D;
	font-size: 24px;
	font-weight: 500;
}

a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #6B72E1;
	font-weight: 600;
	font-size: 16px;
}

a:hover {
	color: black;
}

.container {
	width: 700px;
	margin: 40px auto;
}

.container img {
	width: 250px;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgb(252,103,33,0.25);
	border-radius: 4px;
	margin: 60px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-orange {
	background-color: rgb(252,103,33);
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-orange:hover {
	background-color: rgb(252,153,66);
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 20px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(252,103,33);
}

.list-inline i:hover {
	color: rgb(252,153,66);
}

#introduction p {
	margin-bottom: 40px;
}